<section class="main-header">
  <div>
    <%= link_to image_tag('bu.png'), blogs_path %>
    <%= link_to image_tag('ro.png'), blogs_path %>
    <%= link_to image_tag('gu.png'), blogs_path %>
  </div>
</section>
<section class="about">
  <h1>Bootstrapシリーズ課題2</h1>
  <h2>BlogApp</h2>
  <p>
    Bootstrapシリーズ課題2で作成したブログアプリです。<br>
    グリッドデザインと、ボタンにBootstrapを使用しています。
  </p>
  <p>
    今回初めてアプリケーションに画像を組み込んでみましたが、置き場などもちゃんと決まっていて、<br>
    それを守れば非常に簡単に実装出来て感心です。<br>
    なるほど、これがrailに乗るということ...
  </p>
  <p>
    ちなみにフリー素材はいらすとやさんから拝借。
  </p>
</section>
